<%= render 'pagination' %>
<div class="row">
<% @data.videos.each do |video| %>
  <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt-2">
    <div class="card">
      <%= link_to( image_tag(video.thumbnail_url, class: "card-img-top"), video_path(video.xid) )%>
      <div class="card-body text-center">
        <h6 class="card-title">
          <%= link_to(video.title, video_path(video.xid)) %>
        </h6>
        <% if video.subscription_required %>
        <small>
          Subscription is required
          <span class="badge badge-secondary">$$$</span>
        </small>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
<%= render 'pagination' %>