<nav class="navbar sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://1wyo4j2clpiy1tn1rufbc1j6-wpengine.netdna-ssl.com/wp-content/uploads/Zype-LogeGray.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
</nav>