<nav class="navbar sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/zype-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    ZYPE
  </a>
  <!-- Show be shown in non-prod environments only, or better controlled by some debug flag -->
  <small style="color: #FFF">
    DEBUG INFO: <%= debug_current_user_access_token %>
  </small>
</nav>